.home-div {
    position: absolute;
    bottom: 0;
    top: 0;
    padding: 2% 10%;
    margin-left: 10%;
    font-size: 1.2em;
    font-family: 'Modern Antiqua', cursive;
}

.home-div p {
    width: 80%;
    padding-top: 2%;
    padding-left: 10%;
    line-height: 150%;
}

footer {
    margin-top: 15%;
}