.home-div {
    position: absolute;
    bottom: 0;
    top: 0;
    padding: 2% 15%;
    font-size: 1.2em;
    font-family: 'Modern Antiqua', cursive;
}

.home-div p {
    width: 80%;
    height: 70%;
    padding-top: 5%;
    padding-left: 10%;
}